body {
  margin: 0;
  background: radial-gradient(circle, #ffe4e1, #ffc0cb);
  overflow: hidden;
  height: 100vh;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Add large instruction text */
.instructions {
  font-size: 2rem;
  font-weight: bold;
  z-index: 10;
  color: #ff9671;
  text-shadow: 1px -1px 7px rgb(142 142 142 / 80%);
}

.projectile {
  position: absolute;
  width: 12px;
  height: 12px;
  background: skyBlue;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4);
}

.particule {
  position: absolute;
  font-size: 2rem;
  font-family: "Cursive", serif;
  font-weight: bold;
  color: white;
  transform: scale(0);
  opacity: 0;
}

.sparkle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  transform: scale(0);
  opacity: 0;
}

.gift-box {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff9671;
  border: 3px solid #ff6f61;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 107, 107, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift-box::before {
  content: "+";
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.gift-image {
  position: absolute;
  width: 150px;
  height: auto;
  border: 5px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
